
<!DOCTYPE html>
<html>                                    <!-- open html tag: required  -->

  <head>                                  <!-- open page header: required -->
    <title>CV-JGorr</title>      <!-- page title appears on the tab -->
    
    <style>   <!-- css style file -->
        
      body{
            font-family: Verdana, sans-serif;
            font-size: 11px;
          }
        
      p0{
         font-family: Verdana, sans-serif;
         color: black;
         font-size: 11px;
         padding-top:0px;
      }
      
      p{
         font-family: Verdana, sans-serif;
         color: black;
         font-size: 11px;
         padding-top:10px;
      }
      
    	 h1, h2, h3, h4, h5, btn {
		         font-family: Verdana, sans-serif; 
             /*font-weight: bold;*/
             font-variant: small-caps;	
           }
     link-btn {
        background-color: transparent;
        color: blue;
        border: 1px solid DodgerBlue;
        padding: 0px 5px 0px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        height: 14px;
        font-size: 8px;
        font-weight: normal;
        margin: 0px 1px 0px 1px;
        cursor: pointer;
      }
          
    </style>
    
  </head>     <!-- close page header: required -->
  
  <!-- All contents of the web page MUST be placed between <body> </body> -->
  
  <body style="background-image: url('img/bgIMG.jpg')">   <!-- open html body: required -->
  <BR><BR>
  
   <table align = "center"  border = "0"  width=85%  bordercolor="gold"  bgcolor = "white">        
     <tbody>
     
      <tr>
      <!--create a margin to the left side of the table-->
      <!--TD  style="background-image: url('img/TableBg.jpg'); width:2%;"></TD--> 
      <!--TD bgcolor='#003366'--> 
      <TD style="background-image: url('img/TableBg.jpg')" style="width:30%">
        <table border = "0" bordercolor="darkgreen" align = "center"
        width="100%" height = "100%" style = "border-spacing: 0"> 
           <tr>
            <TD style = "line-height: 20%;">
                <BR><BR><BR><BR><BR><BR><BR><BR>
                <center><img src="img/CP0.jpg" width=120 height=130>
                <h3  style="padding-bottom: 0px;"><font color = "white"><br>&nbsp; Jessica Gorr.</font></h3>
                <p0><font color = "lightgray">&nbsp; Student, M.S. Applied Statistics <br><br><br><br>and Data Scientist</font></p0>
                <BR><BR><BR><BR><BR>
                <p0><a href="" style="text-decoration: none;"><font color = "gold">&nbsp;|One-page CV|</font>
                </a></center></p0> 
                <BR><BR><BR>
                <hr color = "gray">
            </TD>
           </tr>
         
           <tr>
            <TD style = "line-height: 30%;">
                <h5><font color = "white">&nbsp; Contact</font></h5>
                <p0><font color = "lightgray">
                    &nbsp; Department of Mathemtics <br><br><br>
                    &nbsp; West Chester University<br><br><br>
                    &nbsp; West Chester, PA 19383<br><br><br>
                    &nbsp; Phone: <br><br><br>
                    &nbsp; Fax: <br><br><br>
                    &nbsp; Email: jg924423@wcupa.edu <br><br><br><br>
                    <!--/font></p0>
                    <!--hr color="gray">
                    <p0><font color = "lightgray"-->
                    &nbsp; <img src="img/GitHub.jpg" width=10 height=10>&nbsp;  
                    &nbsp; <a href="https://github.com/jessgorr01" style="text-decoration: none;"  target="_blank"  
                     onclick="window.open('https://github.com/jessgorr01','name','width=700, height=500')">
                     <font color = "lightgray"https://github.com/jessgorr01>                   &nbsp; <img src="img/LinkedInLogo.jpg" width=10 height=10><a href=""></a><br><br>   
                    &nbsp; <img src="img/X.jpg" width=10 height=10><a href=""></a><br><br>
                    &nbsp; <img src="img/F.jpg" width=12 height=12><a href=""></a>  
                    </font></p0>
                    <hr color="gray">
            </TD>
          </tr>
         
         <tr>
            <TD>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br>
            </TD>
         </tr>
         
         </table>
        </TD>
      
         <!--create a margin to the contact and the major content columns of the major table-->
         <TD style="width:2%"></TD>
      
         <TD style="width:64%">
        <table>
          <tr>
           <TD  style = "line-height: 110%;">
              <h4 style="padding-bottom: 0px; margin: 0;"><font color = "#123456">Objective</font></h4>
               <!--font color = 'black' face="WildWest" size="4"-->
                  <p> write a summary to highlight your accomplishments and skills.  
                  Show the employer, at a glance, why you’re qualiﬁed for the job...</p>
                  <br>
               <hr color="lightblue">
            </TD>
             
         </tr>

        <tr>
           <TD style = "line-height: 110%;">
              <h4 style="padding-bottom: 0px; margin: 0;"><font color = "#123456">Education</font></h4>
               <font color = 'black' face="WildWest" size="4">
                  <p> List schools attended and degrees earned....</p>
                  <br><br>
               </font>
               <hr color="lightblue">
            </TD>
        </tr>

        <tr>
           <TD style = "line-height: 110%;">
              <h4 style="padding-bottom: 0px; margin: 0;"><font color = "#123456">Experience</font></h4>
               <font color = 'black' face="WildWest" size="4">
                  <p> write your professional experience here.....</p>
                  <br><br>
               </font>
               <hr color="lightblue">
            </TD>
        </tr>
        
        <tr>
           <TD style = "line-height: 110%;">
              <h4 style="padding-bottom: 0px; margin: 0;"><font color = "#123456">Course Work</font></h4>
               <font color = 'black' face="WildWest" size="4">
                  <p> provide a list of modeling courses you took with brief descriptions</p>
                  <br><br>
               </font>
               <hr color="lightblue">
            </TD>
        </tr>
        
        <tr>
           <TD style = "line-height: 110%;">
              <h4 style="padding-bottom: 0px; margin: 0;"><font color = "#123456">Projects/Presenations</font></h4>
               <!--font color = "blue" size="4"-->
                  <p> Provide a list of projects/publications you completed with corresponding URLs. 
                    Keep in mind that a short description of each project is helpful. For example</p>
                    <p><font color = "blue">
                     &nbsp;&nbsp;  1. An End-to-end Project-based Approach to Teaching Data Mining Process. 
                     <a href="https://pengdsci.github.io/eCOTS2022/"  target="_blank"  
                     onclick="window.open('https://pengdsci.github.io/eCOTS2022/','name','width=700, height=500')">
                     <link-btn> WEB LINK</link-btn></a> <br>
                     &nbsp;&nbsp;  2. Semiparametric Tests for Equality of Two Independent Variances. 
                     <a href="proj/published-01.pdf"  target="_blank"  
                     onclick="window.open('proj/published-01.pdf','name','width=700, height=500')">
                     <link-btn> PDF Preprint</link-btn></a> <br>
                     &nbsp;&nbsp;  3. A new formulation of generalized gamma: some results and applications. 
                     <a href="proj/published-03.pdf"  target="_blank"  
                     onclick="window.open('proj/published-03.pdf','name','width=700, height=500')">
                     <link-btn> PDF Preprint</link-btn></a> <br>
                     &nbsp;&nbsp;  4. A general framework of semiparametric polychotomous logit regression. 
                     <a href="proj/UnderReview03 -IM.pdf"  target="_blank"  
                     onclick="window.open('proj/UnderReview03-IM.pdf','name','width=700, height=500')">
                     <link-btn> PDF Preprint</link-btn></a> 
                    </font></p>
               <!--/font-->
               <hr color="lightblue">
            </TD>
        </tr>        
        <tr>
           <TD style = "line-height: 110%;">
              <h4 style="padding-bottom: 0px; margin: 0;"><font color = "#123456">Skills</font></h4>
               <font color = 'black' face="WildWest" size="4">
                  <p> Programming languages, platforms and relevant technologies, etc..</p>
                  <br><br><br>
               </font>
               <hr color="lightblue">
            </TD>
        </tr>
        
        </table>
       </TD>
       <!--create a margin to the right side of the table-->
       <TD style="width:2%"></TD>
     </tr>
     </tbody>
    </table>
    <BR><BR>
  </body>                                 <!-- close html body: required -->
</html> 